<noscript>
<div style="background: #ffcccc; color: #900; padding: 15px; text-align: center;">
لطفاً جاوااسکریپت مرورگر خود را فعال کنید تا سایت به درستی کار کند.
</div>
</noscript>
<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
    <link rel="icon" href="{% static 'image/LogoIMG.png' %}" type="image/x-icon">
    <script src="https://cdn.tailwindcss.com"></script>

    <!-- Prism.js -->
    <link href="https://cdn.jsdelivr.net/npm/prismjs@1.30.0/themes/prism-tomorrow.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/prismjs@1.30.0/prism.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/prismjs@1.30.0/components/prism-python.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    {% block head %}{% endblock head %}
</head>
<body>

    {% block body %}{% endblock body %}
</body>
<style>
    {% block style %}{% endblock style %}
</style>
<script>
    {% block script %}{% endblock script %}
</script>
</html>
